body {
  margin: 0;
  margin: 0 auto;
}

#root {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  display: flex;
  min-width: 1000px;
}

.navlist {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App {
  margin-top: 10px
}

.linkbutton {
  font-size: 1.2em;
}

.logo {
  padding: 1.5em;
}

.footer {
  margin-top: auto;
}

.signup {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 15px;
}

.user {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 15px;
}

.form1 {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border: 1px solid transparent;
  border-radius: 16px;
  padding: 2rem 3rem;

  background-color: #241838;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.forminput {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.disabledbutton {
  cursor: not-allowed;
}

.darkfont {
  color: #000000;
}

.postbody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  min-width: 800px;
  max-width: 1000px;
  padding: 0 1em;
}
.postbody p {
  display:flex;
  flex-direction: column;
}
.postbody p img {
  justify-self: center;
  align-self: center;
}

.postheader {
  margin-top: 30px;
}

.postindex {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1em;
  width: 100%;

}

.postcontentindex {
  padding-bottom: 1rem;
}

.posttitleandtime {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.posttitleandtime h1 {
  margin-bottom: 5px;
  margin-top: 10px;
}



.markdownsidebyside {
  gap: 20px;
  flex-direction: row;
  max-width: 1200px;
}

.markdowninput {
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.markdownpostcreator {
  min-height: 500px;
  margin: 0 auto;
  padding: 0 1em;
}

.markdownpreview {
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.imagedefault {
  max-width: 750px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.indexPostContent {
  display:flex;
  flex-direction: column;
}
.indexPostContent p {
  display:flex;
  flex-direction: column;
}
.indexPostContent p img {
  justify-self: center;
  align-self: center;
}

.indexPostContent ul {
  list-style-type: disc;
}

.postbody ul {
  list-style-type: disc;
}

.postList {

}

input:focus {
  border: 2px solid #646cff;
}

.markdownItself {
  height: 500px;
}